{{define "main"}}

{{ $pages := .Site.RegularPages}}
{{ $categories := $.Site.Taxonomies.categories.ByCount }}

<h1>ici</h1>



<!-- Vue.js -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<div id="app">
  <div class="filters">
    <div>
      <div>Style</div>
      <label v-for="style in allStyles" :key="style">
        <input type="checkbox" v-model="filters['styles']" :value="style">
        [[style]]
      </label>
    </div>
    <div>
      <div>Colors</div>
      <label v-for="color in allColors" :key="color">
        <input type="checkbox" v-model="filters['colors']" :value="color">
        [[color]]
      </label>
    </div>
    <div>
      <div>Sizes</div>
      <label v-for="size in allSizes" :key="size">
        <input type="checkbox" v-model="filters['sizes']" :value="size">
        [[size]]
      </label>
    </div>
  </div>
  Additive filtering: <input type="checkbox" v-model="additiveFiltering">
  <h4>Products</h4>
  <ul>
    <li class="fhide" v-for="(product, key) in products" :key="key" :class="{fshow: filteredProducts.includes(product)}">

      <span class="h2" v-for="style in product.styles" :key="style">[[style]]</span>
      <br>
      <span v-for="tag in product.tags" :key="tag">[[tag]]</span>
    </li>
  </ul>

 
</div>


<script>
const vueApp = new Vue({
  delimiters: ['[[', ']]'],
  el: '#app',
  data: () => ({
    data: [{
        styles: ["{{ .Title }}"],
        colors: ["filter-color-White",],
        sizes: ["5", "6", "7", "8", "9", "10", "11", "12", "13",]
      },
      {
        styles: ["filter-style-Boot"],
        colors: ["filter-color-Black", "filter-color-Red",
          "filter-color-Blue",
        ],
        sizes: ["7", "8", "9", "12", "13"]
      },
      {
        styles: ["filter-style-Gat"],
        colors: ["filter-color-Black", "filter-color-Red"],
        sizes: ["7", "8", "9", "10", "11", "12", "13"]
      },
    ],
    filters: {
      styles: [],
      colors: [],
      sizes: []
    },
    additiveFiltering: false
  }),
  computed: {
    products() {
      return this.data.map(product => ({
        ...product,
        tags: this.tags(product),

      }))
    },

    style(product) {
      return [product.styles]
    },

    color(product) {
      return [product.color]
    },

    filteredProducts() {
      return this.products.filter(
        this.additiveFiltering ?
        p => this.x(this.filters.styles, p.styles).length ||
        this.x(this.filters.colors, p.colors).length ||
        this.x(this.filters.sizes, p.sizes).length :
        p => (!this.filters.styles.length ||
          this.x(this.filters.styles, p.styles).length) &&
        (!this.filters.colors.length ||
          this.x(this.filters.colors, p.colors).length) &&
        (!this.filters.sizes.length ||
          this.x(this.filters.sizes, p.sizes).length)

      )
    },
    allStyles() {
      return this.getAll('styles')
    },
    allColors() {
      return this.getAll('colors')
    },
    allSizes() {
      return this.getAll('sizes')
    }
  },
  methods: {
    tags(product) {
      return [].concat(product.colors, product.sizes)
    },

    logger(obj) {
      return JSON.stringify(obj, null, 2)
    },
    getAll(prop) {
      return [...new Set([].concat.apply([], this.data.map(item => item[prop])))]
    },
    x(arr1, arr2) {
      return arr1.filter(val => arr2.includes(val))
    }
  }
})

</script>

<!-- / vue.js -->


{{end}}
