{{ partial "head/libsass" "scss/app.scss"}}
<noscript><style>img.lazyload { display: none; }</style></noscript>



<!-- Quasar stylesheet. TODO : Ajouter condition pour chargement -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/quasar@2.11.5/dist/quasar.css" rel="stylesheet" type="text/css"> -->


<!-- vuetify -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.6.14/vuetify.min.css" integrity="sha512-TxuEmfi2nkrZeBWoZn0lYBsPYlSCItjhMhmRBqLFKZ+FtjTFEi9oYkSgwDp+b2ONPdNED7LLY+6wnXeur0/xwg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->