{{ define "main" }}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.6.13/vuetify.min.js" integrity="sha512-//0zxkKgUsMFFA0Fa7tqtWXFpT1K6L0/aZK6qp1+C/NKkLkCWiodGGB5HuUY3LwYazNOu/cox2eJNs7Mql9Lgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<h5>{{ .Layout }}</h5>

{{- $IngredientList  := slice  -}}


 {{- range $.Param "repas" -}}
         <!-- Creation des variables qui ne seront plus visible au prochain scope  -->
          {{- $dateService:=.date_service -}}
          {{- $horaire:=.horaire -}}
          <!--  -->
         {{- range .recettes_du_repas -}}
              <!-- Creation des variables qui ne seront plus visible au prochain scope  -->
              {{- $recette:=.recette -}}
              {{- $typePlat:=.type_plat -}}
              <!--  -->
            {{- $url:=  print .recette | urlize -}}
            {{- with  site.GetPage $url -}}

               {{- range (.Params.ingredients.lof) -}}
                
                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "LOF" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}
                 
                {{- range .Params.ingredients.sec -}}

                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "Sec" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}

                {{- range .Params.ingredients.legumes -}}
  
                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "Legume" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}

                {{- range .Params.ingredients.animaux -}}

                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "Animaux" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}

                {{- range .Params.ingredients.autres -}}

                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "Autre" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}

                {{- range .Params.ingredients.sucres -}}

                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "Sucre" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}  

                {{- range .Params.ingredients.epices -}}

                {{- $IngredientList = $IngredientList | append (dict "ingredient" .title "quantite" .quantite "unit" .unit "IngType" "epice" "recette" $recette "dateService" $dateService "horaire" $horaire "typePlat" $typePlat) -}}

                {{- end -}}
           
            {{- end -}} {{/*  {{ with  site.GetPage $url }} */}}
         {{- end -}} {{/* recettes_du_repas */}}
        {{- end -}} {{/* range $.param repas */}}

<div id="app">
  <v-app class="container">
    <h2 class="font-weight-light py-4"> Vuetify DataTable with Summation Footer</h2>
    <v-card>
        <v-card-title>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table 
          dense
          :headers="headers" 
          :items="ingredients" 
          :search="search"
          item-key="id"
          sort-by="dateService"
          group-by="ingredient"
          disable-sort= true
          disable-pagination= true>
            <template v-slot:item="{ item }">
                <tr>
                    <td>[[item.ingredient]]</td>
                    <td>[[item.recette]] le [[item.dateService]] - [[item.horaire]]</td>
                    <td>[[item.quantite]] [[item.unit]]</td>
                    
                </tr>
            </template>
         </v-data-table>
    </v-card>
</v-app>
</div>


<script type="module">
    const app = new Vue ({
      delimiters: ['[[', ']]'],
      el: '#app',
      vuetify: new Vuetify(),
      data () {
        return {
          search: '',
          selected: [],
          headers: [
            { text: "Ingredient", value: "name", filterable: true},
            { text: "", value: "ingredient", filterable: true},
            { text: "Recette", value: "recette"},
            { text: "quantité", align: "end", filterable: false, value: "quantite" },
          ],

            ingredients: [
              {{ range $IngredientList }}
              {
                recette: "{{ .recette }}",
                dateService: "{{ .dateService }}",
                horaire: "{{ .horaire }}",
                typePlat: "{{ .typePlat }}",
                ingredient: "{{ .ingredient }}",
                quantite : "{{ .quantite }}",
                unit: "{{ .unit }}",

              },

              {{ end }}
          ],
          }

      }, {{/* data */}}
             
        
        
      

      
         
    }) 
  </script>






































{{ end }}

