.card-recipe-title {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  color: white;
  padding: 0.6rem;
}

.card-badge-type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  background-color: rgba(221, 181, 0, 0.8);
  color: white;
}

.card-image {
  width: 100%;
  height: 150px;
}
.img-cover {
  object-fit: cover;
}

.recipe-card {
  background: #fff;
  margin: 4em auto;
  height: 90%;

  .ingredients {
    margin: 1em 0 0.5em;
  }

  aside {
    position: relative;
    img {
    }

    .button {
      background: #57abf2;
      display: inline-block;
      position: absolute;
      top: 80%;
      right: 3%;
      width: em(65);
      height: em(65);
      border-radius: em(65);
      line-height: em(65);
      text-align: center;

      .icon {
        vertical-align: middle;
      }
    }
  }

  
}