<!doctype html>
<html lang="{{ .Site.LanguageCode | default "fr" }}">
  {{ partial "head/head.html" . }}

  {{/*  Creer un espace au dessus de la navbar en rajoutant la class "section" à body. =>  */}}
  {{- partial "head/body-class.html" . -}}
  {{/*  <body class="{{ delimit (.Scratch.Get "class") " " }}">  */}}
    {{ partial "header/header.html" . }}
    <div class="wrap container" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>