{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-10">
    <h1>{{ .Title }}</h1>
    <div class="row justify-content-between">
      {{ $paginator := .Paginate (.Data.Pages) -}}
      {{ range $paginator.Pages -}}
      <div class="col-lg-6 p-3">
        {{ partial "recette-card"  .}}
    </div>
    {{ end -}}
    <br>
    <div class="row justify-content-between">
      {{ $paginator := .Paginate (.Data.Pages) -}}
      {{ range $paginator.Pages -}}
      <div class="col-lg-6">
        {{ partial "recette-preview" .}}
    </div>
      {{ end -}}
    </div>
    {{ template "_internal/pagination.html" . -}}
  </div>
</div>
{{ end }}
