{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-10">

    <div class="row my-5 card">

      <code>range .RegularPages</code>
      <div class="alert-info">Affiche les pages "single" (pas les "lists") qui se situent dans la section </div>
      {{range .RegularPages }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <div class="row my-5 card">
      <code>range .Sites.RegularPages </code>
      <div class="alert-info">Affiche les pages "single" (pas les "lists") de tout le site </div>
      {{range .Site.RegularPages }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <div class="row my-5 card">

      <code>range .Sites.RegularPages <br> if .Params.regime </code>
      <div class="alert-info">Affiche les pages "single" (pas les "lists") de tout le site, si elle contienne la
        taxonomie (.Params, defeni dans frontmatter des pages) 'regime' </div>

      {{range .Site.RegularPages }}
      {{if .Params.regime}}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}
        </a></div>
      {{end}}
      {{ end -}}
    </div>

    <div class="row my-5 card">

      <code>range .Sites.RegularPages
              if .Params.regime</code>
      {{range .Site.RegularPages }}
      {{if .Params.regime}}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}
        </a></div>
      {{end}}
      {{ end -}}
    </div>


    <div class="row my-5 card">

      <code>range .Pages </code>
      {{range .Pages }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>


    <div class="row my-5 card">

      <code>range .Sites.Sections </code>
      {{range .Site.Sections }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>
    <hr>

    <div class="row my-5 card">

      <code>range .RegularPagesRecursive</code>
      {{ range .RegularPagesRecursive}}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a> </div> {{ end -}}
    </div>
    <hr>

    <div class="row my-5 card">

      <code>range where .Site.Pages "Params.recette" "plats"</code>
      {{ range where .Site.Pages "Params.recette" "plats" }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <hr>

    <div class="row my-5 card">

      <code>range (where .Site.RegularPages "Section" "recette" )</code>
      {{ range (where .Site.RegularPages "Section" "recette" ) }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>



    <div class="row my-5 card">

      <code>range (where .Site.Pages "Section" "recettes" ) + range .Sections</code>
      {{ range (where .Site.Pages "Section" "recettes" ) }}
      {{ range .Sections }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}{{ end -}}
    </div>

    <div class="row my-5 card">

      <code>range (where .Site.Pages "Section" "recettes" )</code>
      {{ range (where .Site.Pages "Section" "recettes" ) }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <div class="row my-5 card">

      <code>range (where .Site.Sections "Section" "recettes" )</code>
      {{ range (where .Site.Sections "Section" "recettes" ) }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <div class="row my-5 card">

      <code>range (where .Site.RegularPages "Section" "plats" )</code>
      {{ range (where .Site.RegularPages "Section" "plats" ) }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
      <hr>
    </div>

    <div class="row my-5 card">

      <code>range (.Site.GetPage "section" "recettes").Pages </code>
      {{ range (.Site.GetPage "section" "recettes").Pages }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <div class="row my-5 card">

      <code>range (.Site.GetPage "section"  "plats").Pages </code>
      {{ range (.Site.GetPage "section" "plats").Pages }}
      <div class="col-lg-6"><a href="{{.Permalink}}">{{.Title}}</a></div>
      {{ end -}}
    </div>

    <hr>

    <ul>
      range .Data.Terms.Alphabetical
      {{ range .Data.Terms.Alphabetical }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
      {{ end }}
    </ul>

    <ul>
      range (.GetTerms frais")
      {{ range (.GetTerms "frais") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>

    <ul>
      range .Site.Taxonomies.regimes
      {{ range .Site.Taxonomies.regimes }}
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>

    <ul>
      range $key, $taxonomy := .Site.Taxonomies.regimes.vege
      {{ range $key, $taxonomy := .Site.Taxonomies.regimes.vege }}
      <li>{{ $key }}</li>

      <ul>
        range $taxonomy.Pages
        {{ range $taxonomy.Pages }}
        <li><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </ul>

    <div class="card my-5">
      <code>range .Site.Taxonomies.regimes</code>
      <ul>
        {{ range .Site.Taxonomies.regimes }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="card my-5">
      <code>range .Site.Taxonomies.ingredients.frais</code>
      <ul>
        {{ range .Site.Taxonomies.ingredients.frais }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
        {{ end }}
      </ul>
    </div>

    <code>
      $taxo := "regimes"
      with ($.Site.GetPage (printf "/%s" $taxo)) }}
      range .Pages
    </code>
    {{ $taxo := "regimes" }}
    <ul class="{{ $taxo }}">
      {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
      {{ range .Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
      {{ end }}
      {{ end }}
    </ul>

    <hr>
    <div class="card my-5">
      Les accents et majuscule ne fonctionne pas
      <code>range .Site.Taxonomies.recetteType.vege</code>
      <ul>
        {{ range .Site.Taxonomies.regimes.vege }}
        <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
        {{ end }}
      </ul>
    </div>

    <div class="card my-5">
      Les accents et majuscule ne fonctionne pas
      range .Site.Taxonomies.recetteType.vege
      <ul>
        {{ range .Site.Taxonomies.regimes.vege }}
        <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
        {{ end }}
      </ul>
    </div>

    <div class="card my-5">
      <ul>
        {{ range .Data.Terms.Alphabetical }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
        {{ end }}
      </ul>

    </div>

    <div class="card my-5">
      <code>$taxo := "regimes"</code>
      ```$taxo := "regimes"```
    {{ $taxo := "regimes" }}
    <!-- Use the plural form here -->
    <ul id="{{ $taxo }}">
      {{ range .Param $taxo }}
      {{ $name := . }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
      <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    </div>

  </div>
  {{ end }}