{{ define "main" }}
{{/*  Si ce modele est deplacé comme list ailleur, ca marche po  */}}
<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="row">
      {{ $paginator := .Paginate (.Data.Pages) -}} {{ range $paginator.Pages -}}
      <div class="col-lg-3">{{ partial "type-card" . -}}</div>
      {{end -}}
    </div>
    <div class="row">
      {{ range .RegularPagesRecursive}}
      <div class="col-lg-6">{{ partial "recette-card" .}}</div>
      {{ end -}}
    </div>
  </div>
  {{ template "_internal/pagination.html" . -}}
</div>
{{ end }}