{{ define "main" }}

<div class="row justify-content-center">
  <h5>/layout/recettes/list</h5>
  <h2>{{.Title}}</h2>

  {{ $pages := where .Site.RegularPages "Section" "recettes"}}

  {{ $sections := .Site.Params.mainSections }}

  {{ $categories := $.Site.Taxonomies.categories.ByCount }}

  {{ $.Scratch.Set "untagged" 0 }}
  {{ range $pages }}
  {{ with .Params.categories }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end
  }}
  {{ end }}

  {{ $regime := $.Site.Taxonomies.regime.ByCount }}

  {{ $.Scratch.Set "untagged" 0 }}
  {{ range $pages }}
  {{ with .Params.regime }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
  {{ end }}
    {{ $pages := .Pages }}
    {{ $.Scratch.Set "categories" (slice ) }}
    {{ $.Scratch.Set "noCategories" 0 }}

    {{ range .Pages}}
        {{ with .Params.categories }}
            {{ if eq ( printf "%T" . ) "string"  }}
            {{ if ( not ( in ($.Scratch.Get "categories") . ) ) }}
                {{ $.Scratch.Add "categories" . }}
            {{ end }}
            {{ else if eq ( printf "%T" . ) "[]string" }}
            {{ range . }}
                {{ if ( not ( in ($.Scratch.Get "categories") . ) ) }}
                {{ $.Scratch.Add "categories" . }}
                {{ end }}
            {{ end }}
            {{ end }}
        {{ else }}
            {{ $.Scratch.Add "noCategories" 1 }}
        {{ end }}
    {{ end }}

    <div class="category-buttons restricted">
      {{ range $.Scratch.Get "categories" }}
        <button xx class="category-button" id='category-{{ . | replaceRE "[.]" "_" | urlize }}' onclick="applyFilter(this)">
          {{ . }}
        </button>
      {{ end }}
      {{ if gt ( $.Scratch.Get "noCategories") 0 }}
      <button xx class="category-button" id="category-no-author" onclick='htf.checkFilter("no-author", "category-")'>
        without category
      </button>
      {{ end }}
    </div>

  


  <div>
    <h2><span id="selectedItemCount"></span> Items</h2>
  </div>
  <div class="tf-items-container">
    {{ range $pages.ByPublishDate.Reverse }}
    <div class="tf-filter-item tf-item" data-categories="{{ with .Params.categories }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} tfuntagged{{ end }}"
      data-regime="{{ with .Params.regime }}{{ range . }}{{ . | replaceRE "[.]" "_" | urlize }} {{ end }}{{ else }} tfuntagged{{ end }}">
      <h6>{{.Section}}</h6>
      <h5>{{ with .Params.regime }}{{ if eq ( printf "%T" . ) "string"
        }}{{.|humanize|title}}{{ else if eq ( printf "%T" . ) "[]string" }}{{
        range . }}{{.|humanize|title}} {{end}}{{end}}{{else}}No regime{{end}}</h5>

      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>

      <div>{{ with .Params.categorie }}{{ range . }}<tag>{{ . | humanize |
          title }}</tag> {{ end }}{{ else }}<tag>untagged</tag>{{ end }}</div>

    </div>
    {{ end }}
  </div>

{{- $htf := resources.Get "js/vendor/htf/categoriefilter.js" | resources.Fingerprint -}}
<script type='text/javascript' src="{{ $htf.RelPermalink }}"></script>

<script type="text/javascript">
var htfConfig = {
  filters: [
    {
      name: 'categories',
      prefix: 'category-',
      buttonClass: 'category-button',
      allSelector: '#selectAllAuthors',
      attrName: 'data-categories',
    }
  ],
  showItemClass: "show-item",
  filterItemClass: "tf-filter-item",
  activeButtonClass: "active",
  populateCount: true,
  setDisabledButtonClass: "disable-button"
}
var htf = new CategoriesFilter(htfConfig);
$("#load-button").click(function(){
    $(this).toggleClass('tf-filter-item');
    htf.showMore();
    htf.showCheck(htfConfig.filters[0].name, false);
});

function applyFilter (element) {
  var category = element.id.split('category-');
  htf.resetCount();
  htf.checkFilter(category[1],'category-');
}

</script>

  {{ end }}



