{{ define "main" }}

<h1>{{.Title}}</h1>

<div class="py-5">
  <div class="row">
    <div class="container-fluid">
      <div class="card shadow-sm my-4">
        <div class="card-header h3 m-0">Ingredients</div>
        <div class="card-body">
          <div class="row m-auto justify-content-between">
            {{ if .Params.ingredients.frais }}
            <div class="col-lg-4 col-md-6">
              <div class="m-2 border rounded-3">
                <h5 class="text-center pb-3 m-2">
                  Frais (Legumes ou fruits)
                </h5>
                {{ range .Params.ingredients.frais }}
                <ul class="border-top m-0 p-3">
                  {{.nom}} : {{.quantite }} {{.poids }}
                </ul>
                {{end}}
              </div>
            </div>
            {{end}} {{ if .Params.ingredients.sec }}
            <div class="col-lg-4 col-md-6">
              <div class="m-2 border rounded-3">
                <h5 class="text-center pb-3 m-2">
                  Sec (Legumineuses, céréales...)
                </h5>
                {{ range .Params.ingredients.sec }}
                <ul class="border-top m-0 p-3">
                  {{.nom}} : {{.quantite }} {{.poids }}
                </ul>
                {{end}}
              </div>
            </div>
            {{end}} {{ if .Params.ingredients.animaux }}
            <div class="col-lg-4 col-md-6">
              <div class="m-2 border rounded-3">
                <h5 class="text-center pb-3 m-2">Animaux</h5>
                {{ range .Params.ingredients.animaux }}
                <ul class="border-top m-0 p-3">
                  {{.nom}} : {{.quantite }} {{.poids }}
                </ul>
                {{end}}
              </div>
            </div>
            {{end}} {{ if .Params.ingredients.autres }}
            <div class="col-lg-4 col-md-6">
              <div class="m-2 border rounded-3">
                <h5 class="text-center pb-3 m-2">Autres</h5>
                {{ range .Params.ingredients.autres }}
                <ul class="border-top m-0 p-3">
                  {{.nom}} : {{.quantite }} {{.poids }}
                </ul>
                {{end}}
              </div>
            </div>
            {{end}} {{ if .Params.ingredients.epices }}
            <div class="col-lg-4 col-md-6">
              <div class="m-2 border rounded-3">
                <h5 class="text-center pb-3 m-2">Epices/condiments</h5>
                {{ range .Params.ingredients.epices }}
                <ul class="border-top m-0 p-3">
                  {{.nom}} : {{.quantite }} {{.poids }}
                </ul>
                {{end}}
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="card shadow-sm my-4">
        <div class="card-header h3 m-0">Préparation</div>
        <div class="card-body">
          <div class="row m-auto justify-content-start">
            {{.Params.preparation | markdownify}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{{ end }}