<div class="col-lg-6">
  <div class="card mb-2">
    <div class="row no-gutters">
      <div class="card-title">
        <h2 class="card-title text-center my-2"><a href="{{.Permalink}}">{{ .Title }}</a></h2>
      </div>
      <div class="col-md-4">
        <img src={{.Params.img}} class="img-thumbnail m-2">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          {{ range first 4 .RegularPages }}
          <div class="card mb-1">
            <h6 class="p-1 m-0"><a href="{{.Permalink}}">{{.Title}}</a></h6>
          </div>
          {{end}}
          <p class="card-text"> <small class="text-muted"><a href={{.Permalink}}>Voir les {{.Title}} ({{ len .RegularPages }} recettes) </a></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
