<div class="card recipe-card">
  <aside>
    <a href="{{ .Permalink }}">
      {{if .Params.image}}
      <img class="card-image img-fluid img-cover" src="{{ .Params.image }}" />
      {{ else }}
      
      <img class="card-image img-fluid img-cover" src="/images/{{.Params.type}}.webp" />
      {{end}}
      <div class="card-recipe-title h4 ">{{.Title}}</div>
      <div class="card-badge-type translate-middle">{{.Params.type}}</div>
    </a>
  </aside>
  <div class="card-body">
      {{if not .Params.image}}
      <h2>{{.Title}}</h2>

      {{end}}
      {{if .Description}}
      <p>{{.Description}}</p>
      {{end}}
      {{if .Params.ingredients}}
      <p class="ingredients">
        <span>Ingredients:&nbsp;</span>
        {{ range .Params.ingredients.animaux}} {{.nom}} - {{end}} 
        {{ range .Params.ingredients.frais}} {{.nom}} - {{end}} 
        {{ range .Params.ingredients.sec}} {{.nom}} - {{end}} 
        {{ range .Params.ingredients.autres}} {{.nom}} - {{end}} 
        {{ range .Params.ingredients.epices}} {{.nom}} - {{end}}
      </p> {{end}}
    <div>    {{ range .Params.ingredients.frais}} <span class="badge bg-secondary">{{.nom}}</span> {{end}} 
</div>
    </div>
  <div class="card-footer">
    {{ range .Params.ingredients.frais}} <span class="badge bg-secondary">{{.nom}}</span> {{end}} 
  </div>
</div>
