<div class="card">
  <a href="{{.Permalink}}">
  <div class="card-body">
      <h5 class="card-title">{{.Title}}</h5>
    </div>
  </a>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer">
    {{ range .Params.ingredients.frais}} <span class="badge bg-secondary">{{.nom}}</span> {{end}} 
  </div>
</div>
