{{ define "main" }}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<h5>{{ .Layout }}</h5>


<h1>{{.Title}}</h1>
<div id="app">
  <div class="row">
   

    {{ range $.Param "repas" }}
    <div class="card my-2">
      <div class="">
        <span class="h4 mt-1" id="dateService">{{ .date_service }}</span>
        <span class="h4 mt-1 mx-4" id="horaire"> {{.horaire}}</span>
        <div class="float-end">
          assiettes: <span id="assiettesInt">{{ .assiettes }}</span>
        </div>


      </div>
      <div class="row">
        {{/*  Presentation des recettes par jours & midi/soir  */}}
        {{ range .recettes_du_repas }}
          {{/*  Attention à $url : nécessitre print pour fonctionner, et placer les ""  */}}
          {{$url:=  print "/recettes/" .type_plat  "/" .recette | urlize }}
          <span class="h3"><a class="" href="{{$url}}">{{.recette}}</a></span>
          <span>Responsable : {{.chef}} - type: {{.type_plat}}</span>
          {{/*  Reccupérer les données des recettes  */}}
          <span>
            {{ with  site.GetPage $url }}
              {{ range .Params.ingredients.lof }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
              {{ range .Params.ingredients.sec }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
              {{ range .Params.ingredients.legumes }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
              {{ range .Params.ingredients.animaux }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
              {{ range .Params.ingredients.autres }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
              {{ range .Params.ingredients.sucres }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
              {{ range .Params.ingredients.epices }}
                  {{.title}} : {{.quantite}} {{.unit}}
              {{ end }}
            {{end}}
          </span>

          {{/*  Liste par ingredients  */}}

        {{ end }}

      </div>

    </div>
    {{ end }}
  </div>
</div>
{{/*  test range  */}}
{{ .Title }}
<span>{{ range $.Param "repas.recettes_du_repas" }} {{ . }} {{end}}</span>

{{ range $.Param "repas" }} {{ .assiettes }} {{end}}
{{ range $.Param "repas" }} {{ .recettes_du_repas }} {{end}}
<ul>
  {{ range .Params.repas }}
    {{ range .recettes_du_repas }}
      <li>{{.recette}}</li>
    {{ end }}
  {{ end }}

</ul>

{{/*  Tentative 2 : reccupération et afficharge des donnée avec vuejs2  */}}

<div id="app2" class="section">
  <li>[[menus]]</li>
  <div v-for="item in menus" >
    <span > | assiettes : [[item.assiettes]] </span>
    <span > | dates : [[item.dateService]] à [[item.horaire]]</span>
  </div>
  <li v-for="i in menus.recetteDuRepas"> Item: [[i]] </li>
 



</div>

{{ .Content }}

<script type="module">
  const appRecipes = new Vue ({
    el: '#app2',
    delimiters: ["[[", "]]"],
    data: {
      menus:[
        {{/*}} Rajouter des with ou if conditionnant la creation des array {{*/}}  
        {{- range .Params.repas }}
          {   
          dateService: "{{ .date_service }}",
          assiettes: "{{ .assiettes }}",
          horaire: "{{ .horaire }}",
          recettesDuRepas: [ 
            
          {{- range .recettes_du_repas }}
            {{- $url:=  print "/recettes/" .type_plat  "/" .recette | urlize -}}
            {{- with  site.GetPage $url }} 
            {
            recette: "{{.Title}}",
            slug_recette: "{{.Title | urlize }}", 
            initial_plates: "{{ .Params.plate }}",
            ingredients_lof:[ 
              {{- range .Params.ingredients.lof }}
                {
                    title:  "{{.title}}", 
                    quantite: "{{.quantite}}",
                    unit: "{{.unit}}",
                },

              {{ end }} {{/* .Params.ingredients.lof */}}
            ],
            ingredients_legumes:[ 
              {{- range .Params.ingredients.legumes }}
                {
                  title:  "{{.title}}",
                  quantite: "{{.quantite}}",
                  unit: "{{.unit}}",
                },
              {{ end }} {{/* .Params.ingredients.legume */}}
            ],  
            },
            {{- end}} {{/* with site.GetPage $url */}}
          {{- end}} {{/* range .recettes_du_repas */}}
          ], 
              
            
          },
          {{- end }} // range .Params.repas
        ]
      },
    computed: {

    }  
})
      



  
</script>
{{/*  
<script>



  const { createApp } = Vue

  createApp({
      delimiters: ["[[", "]]"],
      data() {
          return {
          menus: 
          [
            {{- range .Params.repas }}
              {
                dateService: "{{ .date_service }}",
                assiettes: "{{ .assiettes }}",
                horaire: "{{ .horaire }}",
                recettes_du_repas: 
                 
                    {{- range .recettes_du_repas }}
                    {{- $url:=  print "/recettes/" .type_plat  "/" .recette | urlize -}}
                    {{- with  site.GetPage $url }} 
                    {
                    recette: "{{.Title}}",
                    slug_recette: "{{.Title | urlize }}", 
                    initial_plates: "{{ .Params.plate }}",
                    ingredients_lof: 
                        
                          {{- range .Params.ingredients.lof }}
                          {
                            title:  "{{.title}}",
                            quantite: "{{.quantite}}",
                            unit: "{{.unit}}",
                          },
                          {{ end }}
                        
                    ingredients_legumes: 
                        
                          {{- range .Params.ingredients.legumes }}
                          {
                            title:  "{{.title}}",
                            quantite: "{{.quantite}}",
                            unit: "{{.unit}}",
                          },
                          {{ end }}
                        
                    },
                    {{- end}}
                    {{- end}}
                   
                },
              
            {{- end }}

          ]
        }
      }



  }).mount('#app')
</script>  
*/}}

{{end}}
