{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-10">

    <div class="row">
      Oh!!!
      {{ range .Pages }}
      <div class="col-lg-3">{{ partial "type-card" . -}}</div>
      {{end -}} 
    </div>
  </div>
  <div class="row my-5">
    <h2>Plats</h2>
    {{ range where .Site.Pages "Params.recette" "plats"}}
    <div class="col-lg-4 col-md-6">{{ partial "recette-card" .}}</div>
    {{ end -}}
  </div>
  <div class="row my-5">
    <h2>Salades</h2>
    {{ range where .Site.Pages "Params.recette" "salades"}}
    <div class="col-lg-4 col-md-6">{{ partial "recette-card" .}}</div>
    {{ end -}}
  </div>
  <div class="row my-5">
    <h2>Tartinades</h2>
    {{ range where .Site.Pages "Params.recette" "tartinades"}}
    <div class="col-lg-4 col-md-6">{{ partial "recette-card" .}}</div>
    {{ end -}}
  </div>
  <div class="row my-5">
    <h2>Desserts</h2>
    {{ range where .Site.Pages "Params.recette" "desserts"}}
    <div class="col-lg-4 col-md-6">{{ partial "recette-card" .}}</div>
    {{ end -}}
  </div>
  {{ template "_internal/pagination.html" . -}}
</div>
{{ end }}
